.links {
    max-width: 100%;
    width: 800px;
    height: calc(100% - (40vh + 150px));
    margin: 5px auto;

    .group-con {
        width: 100%;
        height: 40px;
        .gs{
            float:left;
            width:calc(100% - 60px);
            height: 40px;
        }
        .group-item {
            min-width: 40px;
            height: 30px;
            padding: 0 5px;
            margin: 5px;
            float: left;
            font-size: 14px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
            cursor:pointer;
            user-select:none;

            &:hover {
                background-color: #f4f4f4;
            }

            &[actived=true] {
                background-color: #eee;
            }

            .m-icon {
                width: 20px;
                height: 20px;
                margin: 5px 10px;
            }
            .add{
                float: right;
            }
        }
    }
}

.link-add{
    float: left;
    width: 71px;
    height: 100px;
    position: relative;
    .b{
        width: 50px;
        height: 50px;
        border-radius:50%;
        background-color: #eee;
        display:flex;
        justify-content: center;
        align-items:center;
        margin: 10px 5px;
        color:#555;
        cursor: pointer;
        transition: all .2s;
        &:hover{
            background-color: #e7e7e7;
        }
        &:active{
            transform: scale(0.85);
        }
        .m-icon{
            width: 25px;
            height: 25px;
        }
    }
}

.link-item {
    float: left;
    width: 71px;
    height: 100px;
    position: relative;

    .link-icon {
        border-radius: 50%;
        background-color: #eee;
        box-shadow: none;
        width: 55px;
        height: 55px;
        transition: 0.2s;
        margin: 5px 7px;

        img {
            width: 35px;
            height: 35px;
            padding: 10px;
            border-radius: 50%;
            transition: all .2s;
        }
    }

    .name {
        font-size: 12px;
        text-align: center;
    }

    &:hover {
        .link-icon {
            box-shadow: 0 0 5px rgba(0, 0, 0, .1);
            background-color: #e7e7e7;
        }
    }

    &:active {
        .link-icon img {
            transform: scale(.8);
        }
    }
}